<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- Icon Font Awesome -->
    <script
      src="https://kit.fontawesome.com/371f85bd51.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700"
      rel="stylesheet"
    />
    <link href="/fonts/SFProDisplay.css" rel="stylesheet" />
    <!-- Main Css -->
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= pageTitle %></title>
  </head>
</html>
