<!--right sidebar-->
<div class="right-sidebar" id="right_side_bar">
    <div class="card border-0">
        <div class="card-body pb-0">
            <!--close toggle-->
            <a href="javascript:;" class="right_side_toggle float-right close-sidebar-icon">
                <i class=" ti-shift-right"> </i>
            </a>
            <!--/close toggle-->
        </div>
        <div class="card-body pt-2">

            <div class="right-widget">
                <div class="custom-title-wrap bar-primary mb-4">
                    <div class="custom-title">Today's Activity</div>
                </div>

                <ul class="list-unstyled base-timeline">
                    <li class="time-dot-primary">
                        <div class="base-timeline-info">
                            <a href="#">John123</a> Successfully purchased item#26
                        </div>
                        <small class="text-muted">
                            28 mins ago
                        </small>
                    </li>
                    <li class="time-dot-danger">
                        <div class="base-timeline-info">
                            <a href="#" class="text-danger">Farnandez</a> placed the order for accessories
                        </div>
                        <small class="text-muted">
                            2 days ago
                        </small>
                    </li>
                    <li class="time-dot-purple">
                        <div class="base-timeline-info">
                            User <a href="#" class="text-purple">Lisa Maria</a> checked out from the market
                        </div>
                        <small class="text-muted">
                            12 mins ago
                        </small>
                    </li>
                </ul>
            </div>

            <div class="right-widget">
                <div class="custom-title-wrap bar-danger mb-4">
                    <div class="custom-title">Active Users</div>
                </div>

                <ul class="list-unstyled mb-0 list-widget">
                    <li class="cursor">
                        <div class="media mb-4">
                            <div class="st-alphabet mr-3">
                                <img class="rounded-circle" src="/images/avatar/avatar1.jpg" alt=" ">
                                <span class="status bg-success"></span>
                            </div>
                            <div class="media-body ">
                                <div class="float-left">
                                    <h6 class="text-uppercase mb-0">shirley hoe</h6>
                                    <span class="text-muted">Online</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cursor">
                        <div class="media mb-4">
                            <div class="st-alphabet mr-3">
                                <img class="rounded-circle" src="/images/avatar/avatar2.jpg" alt=" ">
                                <span class="status bg-warning"></span>
                            </div>
                            <div class="media-body ">
                                <div class="float-left">
                                    <h6 class="text-uppercase mb-0">james alexender</h6>
                                    <span class="text-muted">Screaming...</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cursor">
                        <div class="media mb-4">
                            <div class="st-alphabet mr-3">
                                <img class="rounded-circle" src="/images/avatar/avatar3.jpg" alt=" ">
                                <span class="status bg-info"></span>
                            </div>
                            <div class="media-body">
                                <div class="float-left">
                                    <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                                    <span class="text-muted">Start Exploring</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cursor">
                        <div class="media mb-3">
                            <div class="st-alphabet mr-3">
                                <img class="rounded-circle" src="/images/avatar/avatar4.jpg" alt=" ">
                                <span class="status bg-danger"></span>
                            </div>
                            <div class="media-body">
                                <div class="float-left">
                                    <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                                    <span class="text-muted">Busy</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="right-widget">

                <div class="custom-title-wrap bar-success mb-4">
                    <div class="custom-title">Notification</div>
                </div>

                <div >
                    <div class="dropdown-divider mb-0"></div>
                    <a class="nav-link border-bottom px-0 py-3" href="#">
                        <span class="text-primary">
                        <span class="weight700 f12">
                            <i class="vl_bell weight600 pr-2"></i>Weekly Update</span>
                        </span>
                        <span class="small float-right text-muted">03:14 AM</span>

                        <div class="text-dark f12">
                            This week project update report generated. All team members are requested to check the updates
                        </div>
                    </a>

                    <a class="nav-link border-bottom px-0 py-3" href="#">
                        <span class="text-danger">
                        <span class="weight700 f12">
                            <i class="vl_Download-circle weight600 pr-2"></i>Server Error</span>
                        </span>
                        <span class="small float-right text-muted">10:34 AM</span>

                        <div class="text-dark f12">
                            Unexpectedly server response stop. Responsible members are requested to fix it soon
                        </div>
                    </a>

                    <a class="nav-link border-bottom px-0 py-3" href="#">
                        <span class="text-success">
                        <span class="weight700 f12">
                            <i class="vl_screen weight600 pr-2"></i>Monthly Meeting</span>
                        </span>
                        <span class="small float-right text-muted">12:30 AM</span>

                        <div class="text-dark f12">
                            Our monthly meeting will be held on tomorrow sharp 12:30. All members are requested to attend this meeting.
                        </div>
                    </a>

                    <div class="text-center mt-3">
                        <a class="nav-link px-0" href="#">View all notification</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--/right sidebar-->