<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
      <div class="footer-upper">
        <div class="col">
          <div class="footer-logo">
            <h1 class="footer-link">Logo</h1>
          </div>
          <div>
            <p>Easy Investment Ltd</p>
            <p></p>
          </div>

          <div>
            <p>© 2020 Copyright. All Rights Reserved.</p>
          </div>
          <div class="social-icon">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </div>
        </div>

        <div class="col">
          <div>
            <a href="./" class="footer-link">Home</a>
          </div>
          <div class="footer-link">
            <a href="./about" class="footer-link">About Us</a>
          </div>
          <div class="footer-link">
            <a href="./policy" class="footer-link">Policy, Terms and Conditions</a>
          </div>
          <div class="footer-link">
            <a href="./faqs" class="footer-link">FAQs</a>
          </div>
        </div>

        <div class="col footer-cta">
                    <div>
                        <h3 class="footer-cta-title">Memeber Area</h3>
                    </div>
                    <div>
                        <p class="footer-cta-caption">If you don’t have an account, sign up for free.<p>
                    </div>
                    <div>
                        <div class="form-group footer-cta-form">
                            <input type="email" name="email" id="" placeholder="Enter your email" class="footer-cta-input">

                            <button type="submit" class="footer-cta-btn">SIGNUP <span class="footer-cta-icon"><svg width="1em" height="1em" viewBox="0 0 16 16"     class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                              </svg></span>
                            </button>
                        </div>
                    </div>
                </div>
      </div>

      <hr />

      <div class="footer-lower">
        <div>
          <p class="footer-lower-text">
            The information on this website does not convey an offer of any
            type and is not intended to be, and should not be construed as,
            an offer to sell, or the solicitation of an offer to buy, any
            securities, commodities, or other financial products. In
            addition, the information on this website constitute the
            provision of investment advice. No assurances can be made that
            any aims, assumptions, expectations, strategies, and/or goals
            expressed or implied herein were or will be realized or that the
            activities or any performance described did or will continue at
            all or in the same manner as is described on this website.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="/js/script.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>