<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- Icon Font Awesome -->
    <script
      src="https://kit.fontawesome.com/371f85bd51.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700"
      rel="stylesheet"
    />
    <link href="fonts/SFProDisplay.css" rel="stylesheet" />
    <!-- Main Css -->
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="main-wrapper layout-strong">
      <!-- Header -->
      <header
        class="navigation navigation__transparent navigation__caps navigation__separate navigation__right navigation__btn-fill"
      >
        <div class="container-full">
          <div class="row">
            <div class="col-12">
              <div class="navigation-content">
                <a href="#" class="navigation__brand">
                  <p class="text-black">Steven</p>
                </a>
                <button class="navigation__toggler toggle-black"></button>
                <nav class="navigation-wrapper">
                  <button class="offcanvas__close">✕</button>
                  <ul class="navigation-menu" id="nav">
                    <li class="navigation-menu__item">
                      <a class="navigation-menu__link text-black" href="./">Home</a>
                    </li>
                    <li class="navigation-menu__item">
                      <a class="navigation-menu__link text-black" href="./about"
                        >About Us</a
                      >
                    </li>
                    <li class="navigation-menu__item">
                      <a class="navigation-menu__link text-black" href="./faqs"
                        >FAQ<span class="text-lowercase">s</span></a
                      >
                    </li>
                  </ul>
                </nav>
                <div class="navigation-button navigation-button-couple">
                  <a
                    href="./login"
                    class="nav-cta-btn navigation-button-couple__trans text-black"
                    >Login</a
                  >
                  <a
                    href="./sign-up"
                    class="db-btn nav-cta-btn navigation-button-couple__fill text-black"
                    >Signup</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
