<%- include('../includes/dashboard-header.ejs') %>
  <body>
    <div class="main-wrapper layout-strong dashboard-wrapper">
      <%- include('../includes/dashboard-sidebar.ejs') %>
      <main>
        <section class="main_header">
          <div class="main_navigation-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button
                class="navbar-toggler"
                data-target="#my-nav"
                data-toggle="collapse"
                aria-controls="my-nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item-1">
                    <button class="main_nav-btn btn nav-link">
                      Make Investment
                    </button>
                  </li>
                  <li class="nav-item-2">
                    <a href="#" class="nav-link"
                      ><i
                        ><svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-bell"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z" />
                          <path
                            fill-rule="evenodd"
                            d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
                          /></svg></i
                    ></a>
                  </li>
                  <li class="nav-item-3">
                    <img
                      class="nav-link img-fluid main_user-icon"
                      src="/images/78-785917_user-login-function-name-avatar-user-icon-hd.jpg"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </section>

        <section class="main_active-dashboard">
          <div class="main_active-dashboard-container">
            <div class="profile-summary">
              <div class="profile-summary-images">
                <div>
                  <img
                    class="img-fluid"
                    src="./images/Combined Shape Copy.png"
                    alt=""
                  />
                </div>
                <div class="profile-summary-img">
                  <img
                    class="img-fluid"
                    src="./images/Oval Copy 2.png"
                    alt=""
                  />
                </div>
              </div>

              <div>
                <h3 class="profile-summary-name text-capitalize">
                  james foster
                </h3>
              </div>

              <div class="profile-summary-contact-wrapper">
                <div class="profile-summary-contact-header text-uppercase">
                  <div>
                    <p class="profile-summary-info-title">contact info</p>
                  </div>
                  <div>
                    <a class="profile-summary-info-title" href=""
                      ><span
                        ><svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-plus"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                          /></svg></span
                      >update</a
                    >
                  </div>
                </div>
                <div class="profile-summary-contact-body text-capitalize">
                  <div class="profile-summary-contact-email">
                    <div>
                      <p class="profile-summary-info">email</p>
                    </div>
                    <div>
                      <p class="profile-summary-info">james@gmail.com</p>
                    </div>
                  </div>

                  <div class="profile-summary-contact-phone">
                    <div>
                      <p class="profile-summary-info">phone</p>
                    </div>
                    <div>
                      <p class="profile-summary-info">+234 91 2345 6789</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-summary-bank-wrapper">
                <div class="profile-summary-bank-header text-uppercase">
                  <div>
                    <p class="profile-summary-info-title">bank details</p>
                  </div>
                  <div>
                    <a class="profile-summary-info-title" href=""
                      ><span
                        ><svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-plus"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                          /></svg></span
                      >update</a
                    >
                  </div>
                </div>
                <div class="profile-summary-bank-body text-capitalize">
                  <div class="profile-summary-bank-email">
                    <div>
                      <p class="profile-summary-info">bank</p>
                    </div>
                    <div>
                      <p class="profile-summary-info">access bank</p>
                    </div>
                  </div>

                  <div class="profile-summary-bank-phone">
                    <div>
                      <p class="profile-summary-info">account</p>
                    </div>
                    <div>
                      <p class="profile-summary-info">0123456789</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="account-summary"></div>
          </div>
        </section>
      </main>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="/js/script.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
