<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="package-area package-area2 text-center investment-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="package-tab-content">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $3,500 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">300</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $30 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $5,500 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">500</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $30 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $8,500 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">600</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $30 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $10,000 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">1000</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $100 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $30,000 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">3,000</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $500 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="package-content">
                                            <h4 class="package__title">
                                                <span>maximum</span>
                                                return of $50,000 <span>for</span>
                                            </h4>
                                            <div class="price__box">
                                                <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                                <span class="price__price">5,000</span>
                                            </div>
                                            <h4 class="package__subtitle mb-5">
                                                $500 gift bonus
                                            </h4>
                                            <h4 class="package__subtitle m-2">
                                                investment duration:
                                            </h4>
                                            <h4 class="package__subtitle mb-4">
                                                7 days
                                            </h4>
                                            <a href="/deposit" class="order__btn">invest now</a>
                                        </div><!-- end package-content -->
                                    </div><!-- end col-lg-4 -->
                                </div>
                            </div><!-- end tab-content -->
                        </div><!-- end package-tab-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; 2020</small>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

