<%- include('includes/header.ejs') %>

<!-- Hero-page -->
<section class="about__hero-section">
  <!-- <img class="img-fluid about__img" src="./images/BG-about.png" alt=""> -->

  <div class="about__hero-container">
    <div class="about__hero-header">
      <div>
        <h1 class="about__hero-title">Earn money even in a lockdown.</h1>
      </div>

      <div>
        <p class="about__hero-caption">
          The MoneyScheme is powered by a capable team of individuals and
          partner companies across the world
        </p>
      </div>
    </div>
  </div>
</section>

<!-- More About -->
<section class="about__more-section">
  <div class="about__more-container">
    <div class="more-header">
      <div>
        <h1 class="more-title">
          It’s time to make your money work harder than you
        </h1>
      </div>
      <div>
        <p class="more-caption">
          Easy Investment was established in 2017 and has become one of the top
          leading investment platforms trusted by over 1,400,000 users. Easy
          investment provides a proven and secure platform for its investors.
          Amongst others, Easy Investment provides a Worldwide coverage,
          multiple payment options, instant confirmation tools and very active
          support are accompanied by time-proven platform stability that
          guarantees safety of assets and data. Wazobi aInvestment is based on a
          peer to peer investment basis funded with naira and bitcoin.
        </p>
      </div>
    </div>

    <!-- <div class="more-row">
                    <div class="row-image">
                        <img class="img-fluid more-img" src="./images/more-img.png" alt="">
                    </div>
                    <div class="row-header">
                        <div class="row-title">
                            <h2>We are international</h2>
                        </div>
                        <div class="row-caption">
                            <p>MoneyScheme has a wide network of corporate and individual affiliations and partners. We have earned numerous prizes on our transactional security, customer service, investment reliability and much more</p>
                        </div>
                    </div>
                </div> -->

    <!-- <div class="more-row-2">
                    <div class="row-image">
                        <img class="img-fluid more-img" src="./images/more-img.png" alt="">
                    </div>
                    <div class="row-header">
                        <div class="row-title">
                            <h2>We are international</h2>
                        </div>
                        <div class="row-caption">
                            <p>MoneyScheme has a wide network of corporate and individual affiliations and partners. We have earned numerous prizes on our transactional security, customer service, investment reliability and much more</p>
                        </div>
                    </div>
                </div> -->
  </div>
</section>

<!-- Features -->
<section class="about__feature-section">
  <div class="about__feature-container">
    <div class="feature feature-1">
      <div class="feature-icon">
        <img class="img-fluid icon-img" src="./images/Object-team.png" alt="" />
      </div>

      <div class="feature-header">
        <div>
          <h4 class="feature-title text-capitalize">diverse team</h4>
        </div>
        <div>
          <p class="feature-caption">
            Our board and executive team is made up of engineers and investors
            with over 30 years combined experience in wealth creation
          </p>
        </div>
      </div>
    </div>

    <div class="feature feature-2">
      <div class="feature-icon">
        <img
          class="img-fluid icon-img"
          src="./images/Object-reliable.png"
          alt=""
        />
      </div>

      <div class="feature-header">
        <div>
          <h4 class="feature-title text-capitalize">reliability</h4>
        </div>
        <div>
          <p class="feature-caption">
            We have a proven track record of constant returns on investment over
            the years and our servers are always online 99.9%
          </p>
        </div>
      </div>
    </div>

    <div class="feature feature-3">
      <div class="feature-icon">
        <img
          class="img-fluid icon-img"
          src="./images/Object-security.png"
          alt=""
        />
      </div>

      <div class="feature-header">
        <div>
          <h4 class="feature-title text-capitalize">legal & security</h4>
        </div>
        <div>
          <p class="feature-caption">
            Stability is of the highest priority for Easy Investment. We give
            all efforts to provide troublefree services backed by system and
            user account security, financial viability, and profound legal
            compliance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<%- include('includes/footer.ejs') %>
