<%- include('includes/header.ejs') %>

<!-- Hero Section -->
<section class="hero-section hero-text-light content-left">
  <img
    src="./images/dollor-image.webp"
    alt="media-content"
    class="media__content"
  />
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero">
          <div class="hero-wrapper">
            <div class="hero-content">
              <h1 class="hero__title">Invest your money today!</h1>
              <p class="hero__caption">
                It’s super simple - Sign up procedure has been made easy. As
                soon as your payment is received, you will get your first profit
                to be 50% interest in 3days and consecutive investments in 7days
                using our indomitable investment initiative.
              </p>
              <a href="#" class="db-btn db-btn__type-lg db-btn__primary"
                >Get Started
                <i
                  class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"
                ></i>
              </a>
            </div>
            <div class="watch-video">
              <a
                href="#"
                class="html5lightbox btn__play"
                data-width="650"
                data-height="366"
                title=""
              >
                <i class="btn__play--icon nc-icon nc-triangle-right-17"></i>
              </a>

              <div class="watch-video__text">
                <span class="watch-video__text--big">Watch one min video</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="hero__wave">
    <img
      class="svg hero__wave--svg"
      src="./layout/hero-wave.svg"
      alt="hero-wave"
    />
  </span>
</section>

<!-- Base FT -->
<section class="base">
  <div class="base-container">
    <div class="bullets">
      <div class="paragraph bullet-1">
        <div class="paragraph-icon">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-person-circle"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
            />
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path
              fill-rule="evenodd"
              d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
            />
          </svg>
        </div>
        <div class="paragraph-caption">
          <div>
            <h4 class="paragraph-header">Create an account</h4>
          </div>
          <div>
            <p class="paragraph-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, quia inventore officiis
            </p>
          </div>
        </div>
      </div>

      <div class="paragraph bullet-2">
        <div class="paragraph-icon"><i class="fas fa-coins"></i></div>
        <div class="paragraph-caption">
          <div>
            <h4 class="paragraph-header">Make investment</h4>
          </div>
          <div>
            <p class="paragraph-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, quia inventore officiis
            </p>
          </div>
        </div>
      </div>

      <div class="paragraph bullet-3">
        <div class="paragraph-icon">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-wallet2"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 4l10-3A1.5 1.5 0 0 1 14 2.5v2h-1v-2a.5.5 0 0 0-.5-.5L5.833 4H2.5z"
            />
            <path
              fill-rule="evenodd"
              d="M1 5.5A1.5 1.5 0 0 1 2.5 4h11A1.5 1.5 0 0 1 15 5.5v8a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-8zM2.5 5a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-11z"
            />
          </svg>
        </div>
        <div class="paragraph-caption">
          <div>
            <h4 class="paragraph-header">Get quick returns</h4>
          </div>
          <div>
            <p class="paragraph-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, quia inventore officiis
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="base-right">
      <div>
        <h1 class="base-header">quick and easy deposit</h1>
      </div>
      <div>
        <p class="base-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
          dolorum nisi cupiditate animi ducimus repellat sed architecto velit
          fugit odio accusamus omnis ullam,
        </p>
      </div>
      <div class="base-button">
        <button class="btn-pri btn">
          Get Started
          <span class="btnPRI-icon"
            ><svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-right"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
              /></svg
          ></span>
        </button>
        <button class="btn-sec btn">Learn More</button>
      </div>
    </div>
  </div>
</section>

<!-- Section A -->
<section class="section-a">
  <div class="sectionA-container">
    <div class="a-left">
      <div>
        <h1 class="a-header">Make money today with stories</h1>
      </div>
      <div>
        <p class="a-text">
          You will get 50% ROI in 3 days of your first investment and
          subsequently get 50% in 7 days!
        </p>
      </div>
      <div class="a-button">
        <button class="btn-pri btn">
          Get Started
          <span class="btnPRI-icon"
            ><svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-right"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
              /></svg
          ></span>
        </button>
        <button class="btn-sec btn">Learn More</button>
      </div>
    </div>
    <div class="a-image">
      <img class="img-fluid a-img" src="./images/IMG Copy.png" alt="" />
    </div>
  </div>
</section>

<!-- Section B -->
<section class="section-b">
  <div class="sectionB-container">
    <div class="b-image">
      <img class="img-fluid" src="./images/IMG.png" alt="" />
    </div>
    <div class="b-right">
      <div>
        <h1 class="b-header">Fast and Easy Withdrawal</h1>
      </div>
      <div>
        <p class="b-text">
          We provide you with an easy way to withdraw your money on the system
          after you have completed your investment. You will receive your money
          directly to your Bank account or Bitcoin address!
        </p>
      </div>
      <b-button>
        <button class="btn-pri btn">
          Get Started
          <span class="btnPRI-icon"
            ><svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-right"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
              /></svg
          ></span>
        </button>
      </b-button>
    </div>
  </div>
</section>

<!-- Section C -->
<section class="section-c">
  <div class="sectionC-container">
    <div class="c-image">
      <img class="img-fluid c-img" src="./images/Safari browser 1.png" alt="" />
    </div>
    <div class="c-right">
      <div class="c-header">
        <div>
          <h1 class="c-title pb-3">
            View your transaction history in your dashboard.
          </h1>
        </div>
        <div>
          <p class="c-text pb-3">
            We offer the best way that is made easy to make payment into the
            system!
          </p>
        </div>
      </div>

      <div class="c-facts">
        <div class="facts-1">
          <img class="img-fluid" src="./images/1.png" alt="" />
        </div>
        <div class="facts-2">
          <img class="img-fluid" src="./images/1 copy 2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial -->
<section class="testimonial">
  <div class="testimonial-container">
    <div class="testimonial-header">
      <div>
        <h1 class="testimonial-title">Our users love us</h1>
      </div>
      <div>
        <p class="testimonial-caption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          aliquid pariatur assumenda voluptate omnis voluptatibus obcaecati nisi
          facilis labore amet.
        </p>
      </div>
    </div>

    <div class="testimonial-slide">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <small>Someone famous</small>
            </blockquote>
          </div>
          <div class="carousel-item">
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>

              <small>Someone famous</small>
            </blockquote>
          </div>
          <div class="carousel-item">
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>

              <small>Someone famous</small>
            </blockquote>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- FAQs -->
<section class="faq">
  <div class="faq-container">
    <div class="question-section">
      <div class="faq-header">
        <div>
          <p class="faq-title mb-4">Frequently Asked Questions</p>
        </div>
      </div>
      <div class="faq-questions">
        <div class="question-1">
          <p>
            <span class="question-icon"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                />
              </svg>
            </span>
            <a
              class="question-title"
              data-toggle="collapse"
              href="#multiCollapseExample1"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >How secure is this platform?</a
            >
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Stability is of the highest priority for Easy Investment. We give
              all efforts to provide troublefree services backed by system and
              user account security, financial viability, and profound legal
              compliance.
            </div>
          </div>
        </div>
        <hr />
        <div class="question-2">
          <p>
            <span class="question-icon"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                />
              </svg>
            </span>
            <a
              class="question-title"
              data-toggle="collapse"
              href="#multiCollapseExample2"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >What is Easy Investment?</a
            >
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              Easy Investment is an investment company which offers leveraged
              margin investment programme through a peer-to-peer funding market
              using Nigeria Naira currency or Bitcoin currency. Easy Investment
              has developed a National coverage, multiple payment options and
              very active support which are accompanied by time-proven platform
              stability that guarantees safety of assets, funds and data.
            </div>
          </div>
        </div>
        <hr />
        <div class="question-3">
          <p>
            <span class="question-icon"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                />
              </svg>
            </span>
            <a
              class="question-title"
              data-toggle="collapse"
              href="#multiCollapseExample3"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >Who is a Guider?</a
            >
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body">
              A Guider is a Regular user of Easy Investment who have reffered up
              to 10 actived users on the system. As a Guider he/she will be
              earning extra percentage from every users under them.
            </div>
          </div>
        </div>
        <hr />
        <div class="question-4">
          <p>
            <span class="question-icon"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                />
              </svg>
            </span>
            <a
              class="question-title"
              data-toggle="collapse"
              href="#multiCollapseExample4"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >What is the minimum I can invest?
            </a>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card card-body">
              The minimum you can invest in Naira is ₦10,000.00.
              <br />
              The minimum you can invest in Bitcoin is 0.004฿.
            </div>
          </div>
        </div>
        <hr />
        <div class="question-5">
          <p>
            <span class="question-icon"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                />
              </svg>
            </span>
            <a
              class="question-title"
              data-toggle="collapse"
              href="#multiCollapseExample4"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >Do I have to refer someone to earn?
            </a>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card card-body">
              You are not mandated to refer someone to earn but you can choose
              to refer a friend and earn 10% of your referred users first
              Investments. There are no limits to this.
            </div>
          </div>
        </div>
        <hr />

        <div class="more-questions">
          Still have a question? Reach out to us at:
          <a href="#">info@money-scheme.com</a>
        </div>
      </div>
    </div>

    <div class="faq-image">
      <img class="img-fluid faq-img" src="./images/faq2.png" alt="" />
    </div>
  </div>
</section>

<!-- CTA -->
<section class="cta">
  <div class="cta-container">
    <div class="cta-bg">
      <img class="img-fluid cta-img" src="./images/BG.png" alt="" />
    </div>

    <div class="cta-text">
      <div class="cta-header">
        <div>
          <p class="cta-title">Invest now for awesome rewards</p>
        </div>
        <div>
          <p class="cta-caption">
            You can invite others with your referral code.
          </p>
        </div>
      </div>

      <div class="cta-button">
        <button class="btn-pri btn">
          Get Started
          <span class="btnPRI-icon"
            ><svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-right"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
              /></svg
          ></span>
        </button>
      </div>
    </div>
  </div>
</section>

<hr />

<%- include('includes/footer.ejs') %>
