
      <!-- Header -->
      <%- include('includes/header.ejs') %>

      <section class="success-section">
        <div class="success-container">
          <div class="success-image">
            <img
              class="img-fluid success-img"
              src="./images/undraw_High_five_u364.png"
              alt=""
            />
          </div>

          <div class="success-header">
            <div>
              <h1 class="success-title">Thank you for signing up!</h1>
            </div>
            <div>
              <p class="success-caption">
                We've sent an email verification to your inbox. Please click to
                verify
              </p>
            </div>
          </div>
        </div>
      </section>

      <hr />

      <!-- Footer -->
      <%- include('includes/footer.ejs') %>
