




.theme-btn, .faq-body .faq-btn-box .faq-btn, .package-area .package-tab-content .tab-content .package-content .order__btn {
    font-weight: 500;
    font-size: 16px;
    padding: 14px 35px;
    background-color: #283a5e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    position: relative;
    display: inline-block;
    border: none; }

    /*====================================================
   package-area
 ====================================================*/
.package-area {
    padding-top: 0px;
    margin-top: -70px;
    position: relative;
    z-index: 1; }
    .package-area .package-tab-content {
      margin-top: 44px;
      padding-bottom: 90px; }
      .package-area .package-tab-content .nav-tabs {
        border: none; }
        .package-area .package-tab-content .nav-tabs li {
          float: none;
          display: inline-block;
          margin-bottom: 0;
          margin-right: 6px; }
          .package-area .package-tab-content .nav-tabs li:last-child {
            margin-right: 0; }
          .package-area .package-tab-content .nav-tabs li a {
            background-color: #fff;
            -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            border: 1px solid #eee;
            color: #283a5e;
            font-size: 16px;
            text-transform: capitalize;
            padding: 12px 25px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            font-weight: 500;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
            .package-area .package-tab-content .nav-tabs li a:hover, .package-area .package-tab-content .nav-tabs li a.active {
              background-color: #ff7e00;
              color: #fff;
              border-color: #ff7e00; }
      .package-area .package-tab-content .tab-content {
        margin-top: 50px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .package-area .package-tab-content .tab-content .col-lg-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .package-area .package-tab-content .tab-content .col-lg-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; } }
        @media only screen and (min-width: 320px) and (max-width: 479px) {
          .package-area .package-tab-content .tab-content .col-lg-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; } }
        .package-area .package-tab-content .tab-content .package-content {
          background-color: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
          -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
          box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
          padding: 45px 20px;
          position: relative;
          margin-bottom: 30px; }
          @media only screen and (min-width: 481px) and (max-width: 767px) {
            .package-area .package-tab-content .tab-content .package-content {
              width: 70%;
              margin-left: auto;
              margin-right: auto; } }
          .package-area .package-tab-content .tab-content .package-content .package__title {
            font-size: 24px;
            text-transform: uppercase;
            color: #283a5e;
            font-weight: 600; }
            .package-area .package-tab-content .tab-content .package-content .package__title span {
              display: block;
              font-size: 24px;
              text-transform: capitalize;
              margin-top: 20px; }
          .package-area .package-tab-content .tab-content .package-content .package__subtitle {
            font-size: 16px;
            text-transform: uppercase;
            color: #283a5e;
            font-weight: 600; }
          .package-area .package-tab-content .tab-content .package-content .price__box {
            margin-top: 40px;
            margin-bottom: 45px; }
            .package-area .package-tab-content .tab-content .package-content .price__box span {
              font-size: 40px;
              font-weight: 600;
              color: #ff7e00;
              position: relative;
              letter-spacing: -1px;
              margin-top: 50px; }
              .package-area .package-tab-content .tab-content .package-content .price__box span.currency {
                font-size: 35px; }
          .package-area .package-tab-content .tab-content .package-content .order__btn {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            padding: 10px 24px;
            background-color: #fff;
            -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
            border: 1px solid #eee;
            color: #283a5e;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px; }
            .package-area .package-tab-content .tab-content .package-content .order__btn .fa-shopping-cart {
              padding-right: 3px;
              font-size: 13px; }
          .package-area .package-tab-content .tab-content .package-content:hover {
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            -o-transform: translateY(-2px);
            transform: translateY(-2px); }
            .package-area .package-tab-content .tab-content .package-content:hover:after {
              height: 100%; }
            .package-area .package-tab-content .tab-content .package-content:hover .order__btn {
              background-color: #ff7e00;
              color: #fff;
              border: 1px solid #ff7e00; }
          .package-area .package-tab-content .tab-content .package-content:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 4px;
            height: 8%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #ff7e00; }
  
  /*====================================================
     package-area 2
   ====================================================*/
  .package-area2 .package-tab-content {
    margin-top: 14px; }




/* TRANSACTION PAGE */


.main_transaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  margin-top: -35px;
}

.main_transaction-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 900px;
  /* height: 500px; */
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 50px;
  /* align-items: center; */
}

.transaction-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.transaction-table-wrapper {
  background-color: #FAFAFB;
}
.transaction-table {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.transaction-table-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 800px; */
  height: 21px;
  text-align: center;
}

.transaction-table-title {
  font-size: 14px;
  line-height: 18px;
  color: #535875;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.transaction-table-body {
  /* width: 1110px; */
  /* height: 60px; */
  /* background-color: #FFFFFF; */
}

.transaction-table-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* justify-content: space-between; */
  /* width: 961px; */
}






/* DEPOSIT SECTION */

.deposit-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.deposit-container {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}
.deposit-card {
  margin-top: 50px;
}
.deposit-title {
  font-weight: bold;
  width: 400px;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
.deposit-link {
  color: #71789E;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 100%;
  height: 50px;
  padding: 8px 75px 8px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  box-sizing: border-box;
  letter-spacing: .2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.deposit-link:hover {
  text-decoration: none;
  color: #3D405C;
  cursor: pointer;
  background-color: #E2E2EB;
}
.deposit-img {
  width: 30px;
  margin-right: 10px;
}

@media screen and ( max-width: 500px ) {
  .deposit-section {
    margin-top: 20px;
  }
  .deposit-container {
    width: 330px;
    height: 400px;
  }
  .deposit-card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .deposit-title {
    width: 320px;
    font-size: 20px;
  }
  .deposit-option {
    /* position: relative; */
  }
  .deposit-link {
    font-size: 16px;
  }
}



/* WITHDRAW SECTION */

.withdraw-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.withdraw-container {
  width: 500px;
  height: 420px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}
.withdraw-card {
  margin-top: 50px;
}
.withdraw-title {
  font-weight: bold;
  width: 400px;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
.withdraw-link {
  color: #71789E;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 100%;
  height: 50px;
  padding: 8px 75px 8px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  box-sizing: border-box;
  letter-spacing: .2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.withdraw-link:hover {
  text-decoration: none;
  color: #3D405C;
  cursor: pointer;
  background-color: #E2E2EB;
}
.withdraw-img {
  width: 30px;
  margin-right: 10px;
}

@media screen and ( max-width: 500px ) {
  .withdraw-section {
    margin-top: 20px;
  }
  .withdraw-container {
    width: 330px;
    height: 400px;
  }
  .withdraw-card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .withdraw-title {
    width: 320px;
    font-size: 20px;
  }
  .withdraw-option {
    /* position: relative; */
  }
  .withdraw-link {
    font-size: 14px;
    padding: 8px 60px 8px 15px;
  }
}



/* SETTINGS PAGE */


.main_setting {
  width: 1035px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.0357507);
  margin: -10px 25px 25px 25px;
}

.main_setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-summary {
  width: 360px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.0357507);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-summary-img {
  position: relative;
  top: -40px;
  left: 135px;
}

.profile-summary-name {
  font-size: 22px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.profile-summary-contact-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-summary-contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 15px;
}

.profile-summary-contact-email {
  margin-bottom: 10px;
}

.profile-summary-contact-phone,
.profile-summary-contact-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 40px;
  background: #FAFBFC;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.profile-summary-info-title{
  font-size: 14px;
}

.profile-summary-info {
  font-size: 15px;
}

.profile-summary-bank-wrapper {
  margin-bottom: 30px;
}

.profile-summary-bank-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 15px;
}

.profile-summary-bank-email {
  margin-bottom: 10px;
}

.profile-summary-bank-phone,
.profile-summary-bank-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 40px;
  background: #FAFBFC;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

@media screen and ( max-width: 500px ) {
  .main_setting {
    width: 100%;
    margin: -10px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_setting-container {
    flex-direction: column;
  }
  
  .profile-summary {
    width: 350px;
  }

}


/*  */
.setting-nav {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 57.5px;
  height: 35px;
  
}

.hr {
  width: 675px;
  margin-left: 5px;
}

.setting-link {
  color: #0F1222;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.setting-nav-btn {
  width: 130px;
  background-color: #535875;
  color: #FFFFFF;
}

.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  height: 80px;
  margin-left: 70px;
  margin-top: 25px;
}

.profile-img {
  width: 82.19px;
  height: 80px;
  border-radius: 50px;
}

.profile-name {
  font-size: 20px;
  line-height: 25px;
  color: #0F1222;
}

.profile-username {
  color: #535875;
  mix-blend-mode: normal;
  opacity: 0.74;
  font-size: 16px;
}

.profile-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 400px; */
  margin-left: 70px;
  margin-top: 50px;
}

.form-left {
  margin-right: 30px;
}

.profile_form-group {
  display: flex;
  flex-direction: column;
  width: 260px
}

.profile-fname, 
.profile-lname,
.profile-email,
.profile-password,
.profile-phone {
  border: 1px solid #535875;
  height: 45px;
  border-radius: 5px;
}

[type= "text"] {
  padding-left: 15px;
  font-size: 14px;
}

@media screen and ( max-width: 500px ) {

  .personal-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .setting-nav {
    margin-top: 20px;
    margin-left: 0px;
    height: 35px;
    width: 350px;
    
  }
  
  .hr {
    width: 350px;
    margin-left: 0px;
  }
  
  .setting-link {
    color: #0F1222;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: -5px;
  }
  
  .setting-nav-btn {
    width: 130px;
    background-color: #535875;
    color: #FFFFFF;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
  }
  
  .form-left {
    margin-right: 0px;
  }
  
  .profile_form-group {
    display: flex;
    flex-direction: column;
    width: 300px
  }
}



/* SETTINGS-SECURITY PAGE */

.security-section {
  margin-left: 70px;
  margin-top: 35px;
  /* width: 100%; */
}

.security-title {
  font-size: 20px;
  color: #0F1222;
}

.security-form .row-1,
.security-form .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin-left: 70px;
  margin-top: 15px;
}

.security-question,
.security-answer {
  border: 1px solid #535875;
  height: 45px;
  border-radius: 5px;
}

.security-btn {
  width: 130px;
  background-color: #535875;
  color: #FFFFFF;
}




/* SUPPORT SECTION */

.support-section {
  height: 100%;
  margin-top: -115px;
}

.support-container {
  padding-top: 100px;
  padding-left: 30px;
  width: 1000px;
}

.support-title {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}

.support-body {
  background-color: #fff;
  border-radius: 8px;
}

.support-form {
  width: 950px;
  padding: 30px 20px 30px 20px;
}

#my-textarea {
  font-size: 14px;
}

.support-label {
  font-size: 18px;
}

@media screen and ( max-width: 500px ) {
  .support-container {
    padding-top: 100px;
    padding-left: 25px;
    width: 350px;
  }
  
  .support-title {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  
  .support-body {
    background-color: #fff;
    border-radius: 8px;
  }
  
  .support-form {
    width: 330px;
    padding: 30px 25px 30px 20px;
  }
  
  #my-textarea {
    font-size: 14px;
  }
  
  .support-label {
    font-size: 18px;
  }
}