/* Body */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: SF Pro Display;
}

/* General */

.btn-pri {
    background: linear-gradient(180deg, #FF805A 0%, #FF6348 100%);
    box-shadow: 0px 22px 34px rgba(255, 99, 72, 0.170998);
    border-radius: 8px;
    width: 160px;
    height: 50px;
    padding-right: 20px;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPRI-icon {
    margin-left: 30px;
}

.btn-sec {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2D3136;
    background: #FFFFFF;
    border: 1px solid #E0E8F7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 160px;
    height: 50px;
}


/* Base Section */

.base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.base-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.bullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

}

.paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 492px;
    margin-bottom: 10px;
}

.paragraph-icon {
    font-size: 30px;
    padding-right: 30px;
}

.paragraph-header {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    margin-bottom: 10px;
}

.paragraph-text {
    width: 380px;
    font-size: 14px;
}

.base-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.base-header {
    text-transform: capitalize;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #2D3136;

}

.base-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}


/* Section A */

.section-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.sectionA-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.a-left {
    width: 479px;
    height: 319px;
}

.a-header {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 56px;
    color: #2D3136;
    width: 350px;
    margin-bottom: 10px;
}

.a-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    color: #818992;
    width: 400px;
    margin-bottom: 50px;
}

.a-image {
    width: 513px;
    height: 420px;
}

.a-button {
    display: flex;
    flex-direction: row;
}

/* Section B */

.section-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sectionB-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    width: 1000px;
}

.b-image {
    width: 486px;
    height: 429px;
}

.b-right {
    width: 479px;
    height: 340px;
}

.b-header {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #2D3136;
    width: 300px;
    margin-bottom: 10px;
}

.b-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    color: #818992;
    width: 450px;
    margin-bottom: 50px;
}

/* Section C */

.section-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sectionC-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.c-image {
    width: 646px;
    height: 500px;
    box-shadow: 0px 32px 54px rgba(62, 106, 161, 0.113536);
    margin-left: -75px;
}

.c-right {
    width: 473px;
    height: 251px;
}

.c-title {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #2D3136;
    width: 350px;
}

.c-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #818992;
    width: 350px;
}

.c-facts {
    display: flex;
    justify-content: flex-start;
}

.facts-1 {
    width: 75px;
    margin-right: 30px;
}

.facts-2 {
    width: 98px;
}

/* Testimonial */

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3136;
    margin-top: 150px;
}

.testimonial-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.testimonial-header {
    margin-bottom: 50px;
}

.testimonial-title {
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.testimonial-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #F6F7F8;
    width: 500px;
}

.testimonial-slides {
    width: 400px;
}

/* FAQs */

.faq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.faq-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.question-section {
    width: 350px;
}

.faq-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 56px;
    color: #2D3136;
}

.faq-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #818992;
}

.question-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #2D3136;
    text-decoration: none;
}

.more-questions {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #2D3136;
}

.faq-image {
    width: 500px;
}

/* CTA */

.cta {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 222px;
}

.cta-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    position: relative;
    top: -190px;
}

.cta-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #313339;
    margin-bottom: 7px;
}

.cta-caption {
    font-size: 12px;
    color: #818992
}


/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 511px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.col {
    width: 250px;
}

.footer-title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    color: #313339;
}

.footer-link {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    color: #7D8188;
}

.footer-lower {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}

.footer-text-1, .footer-text-2, .footer-text-3 {
    font-size: 12px;
}

.footer-text-2 {
    margin-left: 50px;
}

.footer-text-3 {
    margin-left: 500px;
}