<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Icon Font Awesome -->
    <script src="https://kit.fontawesome.com/371f85bd51.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
    <link href="assets/fonts/SFProDisplay.css" rel="stylesheet">
    <!-- Main Css -->
    <link rel="stylesheet" href="/css/main.css">
    <title>money-scheme</title>
</head>
<body>

    <div class="main-wrapper layout-strong bg-color">
        
        <section class="add-section">
            <div class="logo"><img class="img-fluid" src="" alt=""></div>

            <div class="add-container">
                <div class="add-header">
                    <div>
                        <h1 class="add-title">Add your bank account</h1>
                    </div>
                    <div>
                        <p class="add-caption">Please enter you bank account details here to complete your registration.</p>
                    </div>
                </div>
                <form action="" method="post" class="add-form">
                    <div>
                        <label for="acct-number">Account Number</label>
                    </div>
                    <input type="text" name="acct-number" id="" class="acct-number">

                    <div class="form-group">
                        <label for="my-select">Select your bank</label>
                        <select id="my-select" class="custom-select select-options" name="">
                            <option value="1">Access Bank</option>
                            <option value="2">GT Bank</option>
                        </select>
                    </div>

                    <div class="submit-button">
                        <button type="submit" class="submit-btn btn">Proceed with account</button>
                    </div>
                </form>
            </div>

        </section>

    </div>






    <!-- JS, Popper.js, and jQuery -->
    <script src="/js/script.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>